@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

* {
	font-family: Lato, Helvetica, sans-serif;
}

.mont {
	font-family: Montserrat, Helvetica, sans-serif;
}

.main:hover .line {
	@apply underline;
}

.input {
	@apply border-2 border-rose-500 text-gray-900 focus:outline-none p-1 rounded-md w-full;
}

.clip {
	clip-path: polygon(0% 0%, 55% 0%, 42.5% 100%, 0% 100%);
}

.clip-1 {
	clip-path: polygon(0% 0%, 52.5% 0%, 40% 100%, 0% 100%);
}
